@charset "utf-8";

/* Simple reset */

html, body, p, ul, li, div, span, h1, h2 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
}

html {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #444;
  background-color: #fff;
  box-sizing: border-box;

  /* Only for mobile devices */
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
}

a {
  display: inline-block;
  color: #222;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid #f05f68;
  border-radius: 2px;
  padding: 0 .1em;
  transition: all .2s ease-out;
}

a:hover, a:active {
  color: #fff;
  background-color: #f05f68;
}

a:focus {
  outline: 0;
  color: #fff;
  background-color: #f05f68;
}

strong {
  font-weight: 400;
}

h1 {
  font-size: 2em;
  margin: .625em 0;
  color: #222;
}

h2 {
  margin: 1.875em 0 .3125em;
  font-size: .875em;
  color: #f05f68;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .05em;
}

p {
  margin-bottom: 1.25em;
}

ul {
  list-style: none;
}

::-moz-selection {
  background-color: #fcf4aa;
}

::selection {
  background-color: #fcf4aa;
}

.wrapper {
  margin: 2.5rem 1.25rem;
  max-width: 31.25rem; /* 500 / 16 (50 - 75 characters) */
}


/* Header */

.h-link {
  font-family: 'Alice', Georgia, serif;
  font-weight: 400;
  border: 0;
  padding: 0;
}

.h-link:hover, .h-link:active {
  color: #222;
  background-color: #fff;
}

.h-link:focus {
  color: #222;
  background-color: #fcf4aa;
}

.h-double-slash {
  color: #f05f68;
  display: inline-block;
  margin: 0 8px;
}


/* Hobbies */

.hobbies > li {
  display: inline-block;
}


/* Elsewhere */

.social-item {
  display: inline-block;
}

.social-item + .social-item::before {
  content: '\00b7';
  color: #999;
  padding: 0 4px;
}


/* Media query */

@media (min-width: 40.78125rem) { /* 652.5 / 16 */

  html {
    font-size: 1.125em; /* 18 / 16 */
  }

  .wrapper {
    margin: 2.5em;
  }
}
