@charset "utf-8";

/* Simple reset */

html, body, p, ul, li, div, span, h1, h2 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
}

html {
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #919191;
  background-color: #141414;
  box-sizing: border-box;

  /* Only for mobile devices */
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
}

a {
  color: #999;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid #999;
}

a:hover, a:active {
  color: #fff;
  border-bottom-color: #fff;
  border-bottom-width: 2px;
}

strong {
  font-weight: 600;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
  margin: .625em 0;
  letter-spacing: 0.02em;
}

h2 {
  margin-top: 1.875em;
  color: #fff;
  font-weight: 300;
  letter-spacing: .05em;
}

p {
  margin-bottom: 1.25em;
}

ul {
  list-style: none;
}

::-moz-selection {
  color: #141414;
  background-color: rgba(255, 255, 255, .99);
}

::selection {
  color: #141414;
  background-color: rgba(255, 255, 255, .99);
}

.wrapper {
  margin: 2.5rem 1.25rem;
  max-width: 30rem; /* 480px (50 - 75 characters) */
}


/* Header */

.h-link {
  font-weight: 600;
  color: #fff;
  border: 0;
}

.h-link:hover, .h-link:active {
  border: 0;
}


/* Hobbies */

.hobbies > li {
  display: inline-block;
}


/* Elsewhere */

.social-item {
  display: inline-block;
}

.social-item + .social-item::before {
  content: '\00b7';
  color: #fff;
  padding: 0 4px;
}


/* Media query */

@media (min-width: 36.25rem) { /* 580 / 16 */

  html {
    font-size: 1.125em; /* 18 / 16 */
  }

  .wrapper {
    margin: 10% auto;
  }
}
